{% extends 'base.html' %}

{% block title %}Mis Apuestas{% endblock %}

{% block content %}
<h2>Mis Apuestas</h2>

{% if user_bets %}
  <div class="list-group mt-3">
    {% for ub in user_bets %}
      <div class="list-group-item">
        <h5>{{ ub.bet.title }}</h5>
        Apostaste a: <strong>{{ ub.selected_user.username }}</strong><br>
        Monto: {{ ub.amount }}<br>
        Cuota: {{ ub.odds }}<br>
        Estado: {{ ub.bet.status }}<br>
        Posible ganancia: {{ (ub.amount * ub.odds)|round(2) }}
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No has realizado apuestas todavía.</p>
{% endif %}
{% endblock %}
