{% extends 'base.html' %}

{% block title %}Resolver Apuesta{% endblock %}

{% block content %}
<h2>Resolver Apuesta: {{ bet.title }}</h2>

<form method="post" class="mt-3">
  {% for p in participantes %}
    <div class="form-check">
      <input type="radio" class="form-check-input" name="ganador_id" value="{{ p.user_id }}">
      <label class="form-check-label">{{ p.user.username }}</label>
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-danger mt-3">Confirmar ganador</button>
</form>
{% endblock %}
